header.header
    a(href="index.html")
        img.logo__img(src="../img/logo.png", alt="ロゴ")
    .header__nav
        //pcナビ
        nav.gnav-pc
            ul.gnav__list
                li.gnav__item
                    a.gnav__link.gnav__link--home(href=".") home
                li.gnav__item
                    a.gnav__link(href="about.html") about
                li.gnav__item
                    a.gnav__link(href="works.html") works
        //spナビ
        .openbtn
            span
            span
            span
        nav#g-nav.gnav-sp
          ul
            li
              a(href=".") Home
            li
              a(href="about.html") About
            li
              a(href="works.html") Works
